[submodule "src/_includes"]
	path = includes
	url = git@github.com:arqtrad/eleventy-includes
[submodule "_scss"]
	path = scss
	url = git@github.com:arqtrad/styles-bootstrap
[submodule "src/_data/schemata"]
	path = src/_data/schemata
	url = https://github.com/arqtrad/schemata
