<div class="col">
  <div class="card h-100 shadow-sm"{% if post.data.conformsTo %} itemscope itemtype="{{ post.data.conformsTo }}"{% endif %}>
    <img itemprop="image" class="card-img-top" src="{{ post.data.header.teaser }}" />
    <div class="card-header d-flex text-end text-body-secondary fs-5">
      <a class="ps-3 link-secondary ms-auto" href="{{ post.url }}" alt="Notas de aula" title="Notas de aula" aria-label="Notas de aula">
        <i class="bi bi-book"></i>
      </a>
      <a class="ps-3 link-secondary" href="{{ post.url | replace("aula", "slides", 1) }}" alt="Slides" title="Slides" aria-label="Slides">
        <i class="bi bi-easel"></i>
      </a>
    </div><!--/.card-header-->
    <div class="card-body">
      <h3 class="card-title" itemprop="name">
        <a href="{{ post.url }}">{{ post.data.title | safe }}</a>
      </h3>
      <p class="card-text" itemprop="description">{{ post.data.excerpt | safe }}</p>
    </div><!--/.card-body-->
    <div class="card-footer text-right">
      <small class="text-body-secondary">{{ post.date | dateFilter }}</small>
    </div><!--/.card-footer-->
  </div><!--/.card-->
</div><!--/.col-->
