<div class="col">
  <div class="card h-100 shadow-sm"{% if post.data.conformsTo %} itemscope itemtype="{{ post.data.conformsTo }}"{% endif %}>
    <img itemprop="image" class="card-img-top" src="{{ post.data.header.teaser }}" />
    <div class="card-header" itemprop="address">
      {%- include "partials/location_slug.njk" %}
    </div>
    <div class="card-body">
      <h3 class="card-title" itemprop="name">
        <a href="{{ post.url }}" class="stretched-link">{{ post.data.title | safe }}</a>
      </h3>
      <p class="card-text" itemprop="description">{{ post.data.excerpt | safe }}</p>
    </div>
      <div class="card-footer text-right">
        <small class="text-body-secondary">{{ ui_text[locale].date_label }} {{ post.date | dateFilter }}</small>
      </div>
  </div>
</div>
