{%- if metaTitle -%}
  {%- set title = metaTitle -%}
{%- elif title and site.title != title -%}
  {%- set titlePrefix = site.title -%}
  {%- set metaTitle = [ titlePrefix, ' ', site.title_separator, ' ', title ] | join -%}
{%- elif not title -%}
  {%- set title = site.title -%}
  {%- set metaTitle = title -%}
{%- endif -%}
{%- if not descriptionMeta -%}
  {%- if excerpt -%}
    {%- set descriptionMeta = excerpt -%}
  {%- else -%}
    {%- set descriptionMeta = site.description -%}
  {%- endif -%}
{%- endif -%}
{%- if ( date and not dateMeta ) -%}
  {%- set date %}{{ date | dateFilter }}{%- endset %}
  {%- set dateMeta = date -%}
{%- endif -%}
{%- set currentUrl = [ site.url, site.baseurl, page.url ] | join -%}

<title>{{ metaTitle }}</title>
<link rel="canonical" href="{{ currentUrl }}" />
<link href="/pagefind/pagefind-ui.css" rel="stylesheet">
{%- if css %}{%- for css in css %}
<link rel="stylesheet" type="text/css" href="{{ css }}" />
{%- endfor %}{%- endif %}
<link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
<link rel="schema.DCTERMS" href="http://purl.org/dc/terms/" />
<meta charset="utf-8" />
<meta name="generator" content="{{ eleventy.generator }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
{%- for authorMeta in authorMeta -%}
<meta name="author" content="{{ authorMeta }}" />
{%- endfor -%}
{%- if keywords %}
<meta name="keywords"
      data-pagefind-index-attrs="content"
      data-pagefind-weight="9"
      content="{% for keyword in keywords %}{{ keyword }}{% if not loop.last %}, {% endif %}{% endfor %}"
      />
{%- endif %}
<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:title" content="{{ title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ currentUrl }}" />
{%- if social_image or header.teaser %}
{%- if not social_image -%}
  {%- set social_image = header.teaser -%}
{%- endif -%}
<meta name="twitter:card" content="summary_large_image" />
<meta property="og:image" data-pagefind-meta="image[content]" content="{{ social_image }}" />
<meta name="twitter:image" content="{{ social_image }}" />
<meta property="og:image:alt" content="Page image for {{ site.title }}" />
<meta name="twitter:image:alt" content="Page image for {{ site.title }}" />
{%- endif %}
{%- if descriptionMeta %}
<meta name="twitter:description" content="{{ descriptionMeta }}" />
<meta property="og:description" content="{{ descriptionMeta }}" />
{%- endif %}
<meta name="DCTERMS.title"
      data-pagefind-index-attrs="content"
      data-pagefind-meta="title[content]"
      content="{{ title }}"
      />
{%- if dateMeta %}
<meta name="DCTERMS.date" content="{{ dateMeta }}" />
{%- endif %}
{%- if descriptionMeta %}
<meta name="DCTERMS.description"
      data-pagefind-index-attrs="content"
      data-pagefind-weight="8"
      content="{{ descriptionMeta }}"
      />
{%- endif %}
