<div class="btn-group me-2 col-md-4" role="group" aria-label="Avançar ou retroceder">
{% if previousPost %}
  <a type="button" class="btn btn-outline-secondary" href="{{ previousPost.url }}">
    <i class="bi bi-chevron-compact-left"></i>
    {{ ui_text[lang].pagination_previous }}
  </a>
{% else %}
  <button type="button" class="btn btn-outline-secondary" disabled>
    <i class="bi bi-chevron-compact-left"></i>
    {{ ui_text[lang].pagination_previous }}
  </button>
{% endif %}
{% if nextPost %}
  <a type="button" class="btn btn-outline-secondary" href="{{ nextPost.url }}">
    {{ ui_text[lang].pagination_next }}
    <i class="bi bi-chevron-compact-right"></i>
  </a>
{% else %}
  <button type="button" class="btn btn-outline-secondary" disabled>
    {{ ui_text[lang].pagination_next }}
    <i class="bi bi-chevron-compact-right"></i>
  </button>
{% endif %}
</div><!--/.btn-group-->

